*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 65px;
}
.navbar-part1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-part2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-burger {
  flex-direction: column;
  gap: 2px;
  display: none;
}
.navbar-burger-line1, .navbar-burger-line2, .navbar-burger-line3 {
  border-radius: 100px;
  height: 5px;
  width: 30px;
  background-color: #ffffff;
  transition: all 0.3s;
}
.navbar-list {
  display: flex;
  transition: all 0.5s;
  gap: 4rem;
  font-family: "Josefin Sans", sans-serif;
}
.navbar-list-items-text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.1s;
  padding: 5px;
}
.navbar-list-items-text:hover {
  color: #f86156;
  border-bottom: 3px solid #f86156;
}

.line1 {
  transform: translate(0px, 0px) rotate(45deg);
}

.line2 {
  display: none;
}

.line3 {
  transform: translate(0px, -7px) rotate(-45deg);
}

.line1, .line2, .line3 {
  background-color: #f86156;
}

.change-color {
  background-color: #252525;
}

.color-trans {
  background-color: rgba(38, 38, 38, 0.0901960784);
}

@media (max-width: 768px) {
  .navbar-burger {
    display: flex;
  }
  .navbar-part1 {
    padding: 19px 0px;
    width: 100%;
    background-color: #252525;
  }
  .navbar-part2 {
    transition: all 0.3s;
    visibility: hidden;
    height: 100%;
    width: 100vw;
  }
  .navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50rem, 0px);
    background-color: #252525;
    height: 100%;
    width: 100%;
  }
  .navbar-list-items-text {
    font-size: 1.5rem;
  }
  .navbar {
    position: fixed;
    z-index: 2;
    flex-direction: column;
    justify-content: start;
    background-color: transparent;
    flex-wrap: nowrap;
  }
  .add_100 {
    height: 100%;
  }
}
.toggle {
  transform: translate(0px, 0px);
  display: flex;
}

.add_dis {
  visibility: visible;
}

.active {
  color: #f86156;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.header-bgimg {
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.header-head {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(38, 38, 38, 0.6352941176);
  text-align: center;
}
.header-head-main {
  mix-blend-mode: overlay;
  color: #ffffff;
  font-size: 9rem;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  line-height: 0.9;
}
.header-head-sub {
  font-family: "Josefin Sans", sans-serif;
  color: rgba(255, 255, 255, 0.3568627451);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5rem;
}
.header-head-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.header-head-buttons-text {
  padding: 11px 20px 6px 20px;
  color: rgba(255, 255, 255, 0.3568627451);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.3568627451);
  border-radius: 50px;
  transition: all 0.5s;
  font-weight: 700;
}
.header-head-buttons-text:hover {
  background-color: #ffffff;
  color: #252525;
}
.header-head-buttons-text2 {
  padding: 11px 20px 6px 20px;
  color: rgba(248, 97, 86, 0.7960784314);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid rgba(248, 97, 86, 0.7960784314);
  border-radius: 50px;
  transition: all 0.5s;
  font-weight: 700;
}
.header-head-buttons-text2:hover {
  background-color: #f86156;
  color: #252525;
}

@media (max-width: 480px) {
  .header-head-main {
    font-size: 4rem;
  }
  .header-head-sub {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}
@keyframes bouch {
  0% {
    transform: scale(0.5);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #252525;
}

.loader-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 50%;
  animation: bouch 10s;
}
.loader-box-text {
  font-family: "Josefin Sans", sans-serif;
  color: #f86156;
}

.page-header {
  height: 60vh;
  width: 100vw;
  position: relative;
  z-index: 1;
}
.page-header-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.page-header-head {
  height: 100%;
  width: 100%;
  background-color: rgba(38, 38, 38, 0.6352941176);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}
.page-header-head-main {
  color: #ffffff;
  mix-blend-mode: overlay;
  font-size: 9rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 5px;
}
.page-header-head-sub {
  color: rgba(255, 255, 255, 0.3568627451);
}
.page-header-head-sub-link {
  color: rgba(255, 255, 255, 0.3568627451);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.page-header-head-sub-link:hover {
  color: #f86156;
}

@media (max-width: 480px) {
  .page-header-head-main {
    font-size: 4rem;
  }
  .page-header {
    height: 50vh;
  }
}
.section1 {
  position: relative;
  z-index: 1;
}/*# sourceMappingURL=main.css.map */