//colors
$color-white:#fcfcfc;
$color-black:#222831;

//fonts
$Quicksand: 'Quicksand', sans-serif;
$standurt-font:3rem;


//view pots
$full_height:100vh;
$full_width:100vw;

//trans time
$transition-all: all 500ms cubic-bezier(0.600, 0.040, 0.090, 0.785); /* custom */
$transition-timing-function-all: cubic-bezier(0.600, 0.040, 0.090, 0.785); /* custom */