*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    transition: $transition-all;
    transition-timing-function: $transition-timing-function-all;
  }
body{
    transition: $transition-all;
    transition-timing-function: $transition-timing-function-all;
    height: 100%;
    width: auto;
    font-weight: 300;
    //background-color: $color-white;
    font-family: $Quicksand;
    //color: $color-black;
    font-size: $standurt-font;
}