*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}
body,
html{
    height: 100%;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    padding: 0;
    margin: 0;
}

//font-family: 'Josefin Sans', sans-serif;
$josefin-font :'Josefin Sans', sans-serif;

//nav-color
$nav-bg-color: #262626ad;
$font-nav-color:#ffffff;

//media
$normal-mobile:480px;