*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

//font-family: 'Josefin Sans', sans-serif;
$josefin-font :'Josefin Sans', sans-serif;

//nav-color
$nav-bg-color:#242424;
$font-nav-color:#ffffff;

//media
$normal-mobile:480px;