.light{
    
    position: fixed;
    left: 90%;
    top: 10%;
    z-index: 10;
    height: 30px;
    width: 30px;
    background-color: $color-black;
    border-radius: 50rem;
    box-shadow: 0px 0px 21px $color-black;
    cursor: pointer;
    transition: $transition-all;
    transition-timing-function: $transition-timing-function-all;
    &:hover{
        transform: scale(1.2);
    }
    &:active{
        transform: scale(.5);
    }
}

.white{
    background-color: $color-white;
    box-shadow: 0px 0px 21px $color-white;
    color: $color-white;
}

.theme-light {
    background-color: $color-white;
    color: $color-black;
  }
.theme-dark {
    background-color: $color-black;
    color: $color-white;
  }