.s1{
    height: 100%;
    width: 100%;
    transition: $transition-all;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //background-color: $color-red;
    gap: 2rem;
    &-box{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      backdrop-filter: blur(5px);
    }
  }
.profile{
  height: 80%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &-box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transform: translateX(0);
    transition: $transition-all;
  }
  &-box2{
    height: 80%;
    border-radius: 5px;
    width: 50%;
    overflow: hidden;
    transition: $transition-all;
    &-header{
      font-weight: 300;
      text-transform: capitalize;
    }
  }
  &-img{
    border-radius: 50%;
    width: 24%;
    border: 2px solid $color-red-high;
    animation: floating 2s infinite;
  }
  &-name{
    font-weight: 500;
    font-size: 60%;
    display: inline-block;
    text-transform: capitalize;
    transition: $transition-all;
  }
  &-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &-box{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      position: absolute;
    }
    &-box i{
      font-size: 80%;
    }
  }
}
.profile-box2 i{
  font-size: 2rem;
  position: absolute;
  transition: $transition-all;
}
.link{
  text-decoration: none;
  color: $color-black;
  transition: $transition-all;
  transition-timing-function: $transition-timing-function-all;
  
}